ion-header {
    --ion-background-color: #37e937;
    --ion-text-color: white;
}

ion-content {
    --ion-background-color: #ebe6e6;
    position: relative;
}

ion-icon {
    min-height: 30px;
    min-width: 30px;
}

ion-toolbar {
    background-color: #fff;
}

h1 {
    width: 80%;
    float: left;
    margin-top: 15px;
    font-size: 26px;
}

.remove-item {
    background-color: #ebe6e6;
}

.headerSet {
    display: flex;
    align-items: center;
    text-align: center;
}

.toolbarSet {
    width: auto;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px darkgray;
}

.toolbarTop {
    display: flex;
    height: 85%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
    text-align: center;
}

.toolbarDown {
    display: flex;
    height: 50px;
    text-align: center;
}

.downLabel {
    font-size: 24px;
}

.singleItemList {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    height: 30px;
    border-bottom: solid 1px darkgray;
}

.label-left {
    width: 70%;
    text-align: start;
}

.label-right {
    width: 20%;
}

.pad-10 {
    padding: 10px;
}

.buttonBack {
    float: left;
    min-height: 50px;
    min-width: 50px;
    background-color: #37e937;
}

.buttonAddNew {
    height: 30px;
    background-color: #fff;
}