<ion-header>
  <ion-toolbar>
    <div class="headerSet">
      <button class="buttonBack" routerLink="/tabs">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <h1>{{name}}</h1>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar class="toolbarSet toolbarTop" color="white">
    <h2>Dania/produkty</h2>
    <ion-list >
      <ion-item *ngFor="let item of food">
        <label class="label-left">{{ item.name }}</label>
        <label class="label-right">{{ item.kcal }} kcl</label>
        <button class="remove-item" (click)="removeItem( item.id )">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <div class="pad-10">
      <button class="buttonAddNew" (click)="goToAddNewItem(name)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
  <ion-toolbar class="toolbarSet toolbarDown" color="white">
    <label class="downLabel">Razem : {{allCalories}} kcl</label>
  </ion-toolbar>
</ion-content>