ion-header {
    --ion-background-color: rgb(55, 233, 55);
    --ion-text-color: white;
}


ion-icon {
    height: 25px;
    width: 25px;
}

input {
    width: 90%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    color: #FFF;
}

h1 {
    float: left;
    font-weight: bold;
}

.div-button-approve{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.button-approve{
    font-size: 20px;
    height: 50px;
    background-color: #09aeae;
    border-radius: 5px;
}

.back {
    background-color: rgb(55, 233, 55);
    float: left;
    margin-top: 20px;
}

.change-name {
    margin: 20px;
}

.title-name {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.p-15 {
    padding-top: 15px;
}

