<ion-header>
  <ion-toolbar>
    <button class="back" routerLink="..">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
    <h1>Ustawienia</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="change-name">
    <div>
      <label class="title-name">
        Zmień {{type}}
      </label>
    </div>
    <div class="p-15">
      <input type="text" [(ngModel)]="newData">
    </div>  
    <div class="div-button-approve">
      <button class="button-approve" (click)="updateUser()">Zatwierdź</button>
    </div>
  </div>



  <!-- <div class="change-name">
    <form [formGroup]="formValue">
      <label for="name" class="title-name">
        Zmień {{type}}
      </label>
      <br><br>
      <input type="text" formControlName="firstName" id="name">
      <br><br>
      <input type="submit" value="Zatwierdź">
    </form>
  </div> -->
</ion-content>