ion-header {
    --ion-background-color: #37e937;
    --ion-text-color: white;

}

ion-content {
    --ion-background-color: #ebe6e6; 
}

ion-icon {
    height: 30px;
    width: 30px;
}

ion-title {
    font-size: 25px;
    font-weight: bold;
}

.single-item-menu {
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 10px;
    margin: 10px;
    width: 95%;
    background-color: whitesmoke;
}

.summary {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 75px;
    padding: 8px;
    width: 65%;
    height: 150px;
    font-weight: bold;
}

.summary1 {
    margin-left: 25%;
}

.summary3 {
    float: right;
}

.line {
    border-bottom: solid;
}