<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calorie counter
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-toolbar class="single-item-menu" color="white">
    <ion-buttons slot="secondary">
      <ion-button (click)="goToFood('Sniadanie')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="sunny-outline"></ion-icon>
      Śniadanie
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="single-item-menu" color="white">
    <ion-buttons slot="secondary">
      <ion-button (click)="goToFood('Lunch')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="sunny-outline"></ion-icon>
      Lunch
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="single-item-menu" color="white">
    <ion-buttons slot="secondary">
      <ion-button (click)="goToFood('Obiad')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="partly-sunny-outline"></ion-icon>
      Obiad
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="single-item-menu" color="white">
    <ion-buttons slot="secondary">
      <ion-button (click)="goToFood('Kolacja')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="moon-outline"></ion-icon>
      Kolacja
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="single-item-menu" color="white">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="water-outline"></ion-icon>
      Licznik wody
    </ion-title>
  </ion-toolbar>
  <div class="summary">
    <label class="summary1">
      Podsumowanie
    </label>
    <br><br><br>
    <label class="summary2">
      Kalorii do spożycia:
    </label>
    <label class="summary3">
      {{kcl}}
    </label>
    <br>
    <label class="summary4">
      Ilość spożytych kalorii:
    </label>
    <label class="summary3">
      {{allCalories}}
    </label>
    <br>
    <div class="line"></div>
    <br>
    <label>
      {{procentowo}}% z GDA
    </label>
    <label class="summary3">
      {{roznica_kcal}}
    </label>
  </div>
</ion-content>