<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dodaj
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="new-product">
    <label>Nowy produkt</label>
    <br>
    <div class="line"></div>
    <br>
    <form [formGroup]="formValue">
      <label for="name">Nazwa</label>
      <br>
      <input type="text" formControlName="name" id="name">
      <br><br>
      <label for="cal">Kaloryczność (100g)</label>
      <br>
      <input type="text" formControlName="kcal" id="cal">
      <br><br>
      <input type="submit" (click)="postProductDetails()" value="Dodaj">
    </form>
  </div>

  <div class="new-dish">
    <label>Nowe danie</label>
    <br>
    <div class="line"></div>
    <br>
    <form [formGroup]="formValue1">
      <label for="name">Nazwa</label>
      <br>
      <input type="text" formControlName="name" id="name">
      <br><br>
      <label for="cal">Kaloryczność (100g)</label>
      <br>
      <input type="text" formControlName="kcal" id="cal">
      <br><br>
      <label for="des">Opis (składniki)</label>
      <br>
      <textarea id="des" rows="5" cols="24" formControlName="descripton"></textarea>
      <br><br>
      <input type="submit" (click)="postDishDetails()" value="Dodaj">
    </form>
  </div>
</ion-content>
