ion-header {
    --ion-background-color: rgb(55, 233, 55);
    --ion-text-color: white;
}

ion-content {
    --ion-background-color: rgb(235, 230, 230); 
    text-align: center;
}

ion-title {
    font-size: 25px;
    font-weight: bold;
}

.new-product {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    background-color: whitesmoke;
    margin-top: 70px;
    margin-left: 10px;
    width: 95%;
    padding: 8px;
    font-weight: bold;
}

.new-dish {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    background-color: whitesmoke;
    margin-top: 40px;
    margin-left: 10px;
    width: 95%;
    padding: 8px;
    font-weight: bold;
}

.line {
    border-bottom: solid;
    border-color: darkgray;
    margin-top: 5px;
}