<ion-header>
  <ion-toolbar>
    <div class="headerSet">
      <button class="buttonBack" (click)="back(name)">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <h1>{{name}}</h1>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-toolbar>
    <ion-searchbar showClearButton="focus"></ion-searchbar>
  </ion-toolbar>
  <ion-list >
    <ion-item *ngFor="let item of products">
      <label>{{item.name}}</label>
      <button class="buttonAddNew" (click)="post(item.name, item.kcal, item.description)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>

    <ion-item *ngFor="let item of dishes">
      <label>{{item.name}}</label>
      <button class="buttonAddNew" (click)="post(item.name, item.kcal, item.description)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
