ion-header {
    --ion-background-color: #37e937;
    --ion-text-color: white;
}
ion-content {
    position: relative;
}

ion-toolbar {
    background-color: #fff;
}

ion-icon {
    min-height: 30px;
    min-width: 30px;
}

ion-item{
    font-size: 20px;
}

h1 {
    width: 80%;
    float: left;
}

label {
    width: 100%;
}

.headerSet {
    display: flex;
    align-items: center;
    text-align: center;
}

.buttonBack {
    float: left;
    min-height: 50px;
    min-width: 50px;
    background-color: #37e937;
}

.buttonAddNew {
    height: 30px;
    background-color: #fff;
}