<ion-header>
  <ion-toolbar>
    <div class="headerSet">
      <button class="buttonBack" routerLink="sniadanie">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <h1>{{name}}</h1>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-toolbar>
    <ion-searchbar showClearButton="focus"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <label>Jajko</label>
      <button class="buttonAddNew" routerLink="/eating-details">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <label>Boczek</label>
      <button class="buttonAddNew" routerLink="/eating-details">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <label>Kawa</label>
      <button class="buttonAddNew" routerLink="/eating-details">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
