<ion-header>
  <ion-toolbar>
    <button class="back" routerLink="..">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
    <h1>Ustawienia</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="change-name">
    <form>
      <label for="name" class="title-name">
        Zmień imię
      </label>
      <br><br>
      <input type="text" id="name" name="name" value="Michał">
      <br><br>
      <input type="submit" value="Zatwierdź">
    </form>
  </div>
</ion-content>
