<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ustawienia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="settings">
    <label class="title-settings">Ustawienia</label>
    <div class="line"></div>

    <ion-toolbar class="single-item-settings" color="white">
      <ion-buttons slot="secondary">
        <ion-button (click)="goToSettings('imie', user.imie)">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
      <label class="name-label">Imie</label>
      <label>{{user?.imie}}</label>
    </ion-toolbar>

    <ion-toolbar class="single-item-settings" color="white">
      <ion-buttons slot="secondary">
        <ion-button (click)="goToSettings('wiek', user.wiek)">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
      <label class="name-label">Wiek</label>
      <label>{{user?.wiek}}</label>
    </ion-toolbar>

    <ion-toolbar class="single-item-settings" color="white">
      <ion-buttons slot="secondary">
        <ion-button (click)="goToSettings('dawkaKcal', user.dawkaKcal)">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
      <label class="name-label">Dzienna dawka kcal</label>
      <label>{{user?.dawkaKcal}}</label>
    </ion-toolbar>

    <ion-toolbar class="single-item-settings" color="white">
      <ion-buttons slot="secondary">
        <ion-button (click)="goToSettings('waga', user.waga)">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
      <label class="name-label">Masa ciała</label>
      <label>{{user?.waga}} kg</label>
    </ion-toolbar>
    
    <ion-toolbar class="single-item-settings" color="white">
      <ion-buttons slot="secondary">
        <ion-button (click)="goToSettings('wzrost', user.wzrost)">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
      <label class="name-label">Wzrost</label>
      <label>{{user?.wzrost}} cm</label>
    </ion-toolbar>
  </div>
</ion-content>
