ion-header {
    --ion-background-color: rgb(55, 233, 55);
    --ion-text-color: white;
    margin-bottom: 150px;
}

ion-content {
    --ion-background-color: rgb(235, 230, 230); 
}

ion-icon {
    height: 15px;
    width: 15px;
}

ion-title {
    font-size: 25px;
    font-weight: bold;
}

.settings {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    background-color: whitesmoke;
    margin-left: 50px;
    width: 75%;
    height: 300px;
    padding: 8px;
    text-align: center;
}

.line {
    border-bottom: solid;
    border-color: darkgray;
    margin-top: 5px;
    margin-bottom: 15px;
}

.title-settings {
    font-weight: bold;
}

.single-item-settings {
    text-align: right;
    margin-top: -10px;
}

.name-label {
    float: left;
    margin-left: 10px;
}