ion-header {
    --ion-background-color: rgb(55, 233, 55);
    --ion-text-color: white;
}


ion-icon {
    height: 25px;
    width: 25px;
}

h1 {
    float: left;
    font-weight: bold;
}

.back {
    background-color: rgb(55, 233, 55);
    float: left;
    margin-top: 20px;
}

.change-name {
    margin: 20px;
}

.title-name {
    font-size: 25px;
    font-weight: bold;
}

#name {
    width: 100%;
    height: 30px;
}

input[type=submit] {
    float: right;
}